<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        PRUEBAS EXTERNAS
    </title>
    <link rel="stylesheet" href="../public/CSS/externo.css">
</head>
<body>
    <header>
        <h1>
            ESTILOS EXTERNOS
        </h1>
    </header>
    <main>
        <form action="server.html" method="get">
            <label for="nombres">INGRESE UN NOMBRE</label>
            <input type="text" name="nombres" id="nombres" placeholder="Times new roman">
            <br>
            <label for="comentarios">CAJA DE COMENTATIOS</label>
            <textarea name="comentarios" id="comentarios">no tengo ningun comentario por esta ocacion</textarea>
            <br>
            <label for="lista-frutas">SELECCIONE UNA FRUTA</label>
            <select name="lista-frutas" id="lista-frutas">
                <option value="pera">PERA</option>
                <option value="manzana">MANZANA</option>
                <option value="uva">UVA</option>
                <option value="tomate">TOMATE</option>
            </select>
            <br>

            <br>
            <label for="estado">SOLTERO</label>
            <input type="checkbox" name="estado" id="estado">
            <br>
            <label for="radio1">HOMBRE</label>
            <input type="radio" name="radio1" id="radio1">
            <label for="radio1">MUJER</label>
            <input type="radio" name="radio1" id="radio1">


        </form>
    </main>
    <footer>
        <br>
        c.2025
    </footer>
</body>
</html>