<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        PRUEBAS INTERNAS
    </title>
    <style>
        *{
            scrollbar-color: #00ccff #111;
             border-bottom-left-radius: 25%;
             user-select: none;
             margin-block: 10px 20px;
             justify-items: center;
        }
    </style>
</head>
<body>
    <header>
        <h1>
            ESTILOS INTERNOS
        </h1>
    </header>
    <main>
        <form action="server.html" method="get">
            <label for="nombres">INGRESE UN NOMBRE</label>
            <input  style="border-block-style: dotted;" type="text" name="nombres" id="nombres" placeholder="Times new roman">
            <br>
            <label for="comentarios">CAJA DE COMENTATIOS</label>
            <textarea style="writing-mode: vertical-lr;" name="comentarios" id="comentarios">LOS COMENTARIOS SON MUY IMPORTANTES TOMALO EN CUENTA</textarea>
            <br>
            <label for="lista-frutas">SELECCIONE UNA FRUTA</label>
            <select  style="border-bottom: dashed red;" name="""lista-frutas" id="lista-frutas">
                <option value="pera">PERA</option>
                <option value="manzana">MANZANA</option>
                <option value="uva">UVA</option>

                <option value="tomate">TOMATE</option>
            </select>
            <br>

            <br>
            <label for="estado">SOLTERO</label>
            <input style="height: 6em;" type="checkbox" name="estado" id="estado">
            <br>
            <label  for="radio1">HOMBRE</label>
            <input style="translate: 50% -40%;" type="radio" name="radio1" id="radio1" >
            <label  for="radio1">MUJER</label>
            <input style="translate: 50% -40%;" type="radio" name="radio1" id="radio1">


        </form>
    </main>
    <footer>
        <br>
        c.2025
    </footer>

</body>
</html>